<% comments.each do |comment| %>
  <% unless comment.id.nil? %><!-- コメントのidがnilではなかったら -->
    <% if comment.user.picture.present? %>
      <span><%= image_tag(comment.user.picture.image.url, size: "30x30") %></span>
    <% else %>
      <span><%= image_tag("/images/default.png", size: "30x30") %></span>
    <% end %>
    <!-- TODO: フォロー/フォロワー機能を実装したらフォロワーだけがユーザーのshowページを閲覧できるようにする -->
    <span>&nbsp;&nbsp;<%= comment.user.name %><%#= link_to "#{comment.user.name}さん", user_path(comment.user.id) %></span>
    <p><%= simple_format(comment.content) %></p>
    <% if comment.user == current_user %><!--そのコメントをしたユーザーと現在のユーザーが一致していたら -->
      <p class="comment_delete_btn">
        <%= link_to 'コメントを削除する', post_comment_path(comment.post_id, comment.id), method: :delete, remote: true, class: "btn btn-default" %>
      </p>
    <% end %>
  <% end %>
<% end %>
