<%= form_with(model: user, url: { action: choose_confirm_or_update }, local: true, class: "form_outer") do |f| %>
  <div class="form_inner">
    <%= render partial: 'users/form_parts/error_explanation', locals: { user: user } %>
    <% if Edit_account_info_page? %>
      <%= render partial: 'users/form_parts/image_prev', locals: { user: user } %>
    <% end %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, class: "form-control" %>
    </div>
    <% if Create_account_page? %>
      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, placeholder: t('users.6_characters_or_more'), class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, class: "form-control" %>
      </div>
    <% end %>
    <div class="form-group imgInput">
      <%= f.label :image, t('users.select_icon_image') %>
      <%= f.file_field :image, class: "form-control", id: "upfile" %>
    </div>
    <% if current_user&.picture.present? %>
      <div class="form-group">
        <%= f.check_box "picture_delete_check", {}, 1, 2 %>
        <%= f.label "picture_delete_check", t('users.delete_icon_image') %>
      </div>
    <% end %>
  </div>
  <%= f.submit choose_confirm_screen_or_update_account_info, class: choose_the_button_color %>
<% end %>
