<%= form_with(model: user, url: { action: choose_confirm_or_update }, local: true, class: "form_outer") do |f| %>
  <div class="form_inner">
    <%= render partial: 'users/form_parts/error_explanation', locals: { user: user } %>
    <% if Edit_account_setting_page? %>
      <%= render partial: 'users/form_parts/image_prev', locals: { user: user } %>
    <% end %>
    <div class="form-group">
      <%= f.label :name %><span class="caution"><%= t('.required') %></span>
      <%= f.text_field :name, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :email %><span class="caution"><%= t('.required') %></span>
      <%= f.email_field :email, class: "form-control" %>
    </div>
    <% if Create_account_page? %>
      <div class="form-group">
        <%= f.label :password %><span class="caution"><%= t('.required') %></span>
        <%= f.password_field :password, placeholder: t('.word_count'), class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation %><span class="caution"><%= t('.required') %></span>
        <%= f.password_field :password_confirmation, class: "form-control" %>
      </div>
    <% end %>
    <div class="form-group">
      <%= f.label :locale %><span class="caution"><%= t('.required') %></span>
      <div class="locale_check_box">
        <%= f.radio_button :locale, 'ja', checked: @user.locale == 'ja' %>
        <span><%= t('.japanese') %></span>
      </div>
      <div class="locale_check_box">
        <%= f.radio_button :locale, 'en', checked: @user.locale == 'en' %>
        <span><%= t('.english') %></span>
      </div>
    </div>
    <div class="form-group imgInput">
      <%= f.label :image %>
      <%= f.file_field :image, class: "form-control", id: "upfile" %>
    </div>
    <% if current_user&.picture.present? %>
      <div class="form-group">
        <%= f.check_box :picture_delete_check, {}, 1, 2 %>
        <%= f.label :picture_delete_check %>
      </div>
    <% end %>
  </div>
  <%= f.submit choose_confirm_screen_or_update_account_setting, class: choose_the_button_color %>
<% end %>
