<div class="thumbnail">
  <ul>
    <li class="category_label"><%= user_post.category.name %></li>
    <li class="rp_text">
      <%= t("activerecord.enum.post.ranking_point.#{user_post.ranking_point}") %>&nbsp;&nbsp;
      <%= user_post.eatery_name %>
    </li>
    <li>Menu: &nbsp;<%= user_post.eatery_food %></li>
  </ul>
  <%= no_link_picture(user_post) %>
  <div class="caption">
    <p><%= Post.human_attribute_name :remarks %></p>
    <div class="caption_remarks">
      <%= render_with_hashtags(auto_link(simple_format(
          h(user_post.remarks.truncate(150, omission: '...')), {}, sanitize: false, wrapper_tag: "div"
          ))) %>
    </div>
    <p><%= link_to 'Learn more!', post_path(user_post), class: "btn btn-show" %></p>
    <!-- TODO: 公開範囲 -->
    <% if user_post.user_id != current_user.id %>
      <div id="post-<%= user_post.id %>" data-post-id="<%= user_post.id %>" class="iine_button">
        <%= render "likes/like", post: user_post %>
      </div>
    <% end %>
    <% if poster?(user_post) %>
      <p class="edit_delete_button">
        <%= link_to t('edit_button'), edit_post_path(user_post), class: "btn btn-warning" %>
        <%= link_to t('delete_button'),
                    post_path(user_post, submitted_page: 'mypage'),
                    method: :delete,
                    data: { confirm: t('confirm_deletion') },
                    class: "btn btn-danger"
        %>
      </p>
    <% end %>
  </div>
</div>
