<div class="user_account_menu">
  <p class="account_name"><%= current_user.name.truncate(12, omission: '...') %></p>
  <%= no_link_picture(current_user) %>
  <% if current_user.admin %>
    <%= link_to admin_tops_path, class: "user_account_menu_link" do %>
      <i class="fas fa-hammer fa-2x"></i>
      <p class="fukidashi"><%= t('users.admin_only_page') %></p>
    <% end %>
  <% end %>
  <%= link_to edit_user_path(current_user), class: "user_account_menu_link" do %>
    <i class="fas fa-user-edit fa-2x"></i>
    <p class="fukidashi"><%= t('users.edit_page') %></p>
  <% end %>
  <%= link_to password_reset_user_path(current_user), class: "user_account_menu_link" do %>
    <i class="fas fa-unlock-alt fa-2x"></i>
    <p class="fukidashi"><%= t('users.password_reset_page') %></p>
  <% end %>
  <%= link_to destroy_confirm_user_path(current_user), class: "user_account_menu_link" do %>
    <i class="fas fa-sad-tear fa-2x"></i>
    <p class="fukidashi"><%= t('users.quit') %></p>
  <% end %>
  <%= link_to 'New post', new_post_path, class: "cp_btn" %>
  <%= link_to iine_post_list_user_path(current_user), class: "iine_posts_link" do %>
    <%= content_tag :span, t('users.like_list'), id: "heart" %>
  <% end %>
</div>
