<%= form_with(model: user, local: true, class: "user_form_outer") do |f| %>
  <div class="user_form_inner">
    <% if user.errors.any? %>
      <div id="error_explanation">
        <h4>エラーが発生しました。以下の項目について確認してください。</h4>
        <ul>
          <% user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, class: "form-control" %>
    </div>
    <% if new_or_create_page? %>
      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, placeholder: "6文字以上必要です。", class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, class: "form-control" %>
      </div>
    <% end %>
    <!-- Pictureモデルのimage属性をセット -->
    <div class="form-group">
      <%= f.label :image, "アイコン画像を選択してください（任意）" %>
      <%= f.file_field :image, class: "form-control" %>
      <%= f.hidden_field :image_cache %>
    </div>
    <% if user_with_pictures_edit_page?(user) %>
      <div class="form-group">
        <!-- 値をtrue/falseにしてコントローラに送ると、ActiveRecord::Type::Boolean.new.cast(value)を使って -->
        <!-- 文字列の"true","false"をboolean型に変換する必要がある -->
        <%= f.check_box "picture_delete_check", {}, 1, 2 %>
        <%= f.label "picture_delete_check", "登録済みのアイコン画像を削除する場合は、チェックを入れてください" %>
      </div>
    <% end %>
  </div>
  <%= f.submit class: "btn btn-primary" %>
<% end %>
