<%= form_with(model: user, url: { action: choose_confirm_or_update }, local: true, class: "form_outer") do |f| %>
  <div class="form_inner">
    <% if user.errors.any? %>
      <div id="error_explanation">
        <h4>エラーが発生しました。以下の項目について確認してください。</h4>
        <ul>
          <% user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, class: "form-control" %>
    </div>
    <% if Create_account_page? %>
      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, placeholder: "6文字以上必要です。", class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, class: "form-control" %>
      </div>
    <% end %>
    <!-- Pictureモデルのimage属性をセット -->
    <div class="form-group">
      <%= f.label :image, "アイコン画像を選択してください（任意）" %>
      <%= f.file_field :image, class: "form-control" %>
    </div>
    <% if current_user&.picture.present? %>
      <div class="form-group">
        <%= f.check_box "picture_delete_check", {}, 1, 2 %>
        <%= f.label "picture_delete_check", "登録済みのアイコン画像を削除" %>
      </div>
    <% end %>
  </div>
  <%= f.submit choose_confirm_screen, class: choose_the_button_color %>
<% end %>
