<div class="user_account_menu">
  <p><%= current_user.name.truncate(12, omission: '...') %></p>
  <%= picture_not_link(current_user) %>
  <% if current_user.admin %>
    <%= link_to admin_tops_path, class: "user_account_menu_link" do %>
      <i class="fas fa-hammer fa-2x"></i>&nbsp;&nbsp;Administrator page
    <% end %><br>
  <% end %>
  <%= link_to edit_user_path(current_user), class: "user_account_menu_link" do %>
    <i class="fas fa-user-edit fa-2x"></i>&nbsp;&nbsp;Edit account info
  <% end %><br>
  <%= link_to password_reset_user_path(current_user), class: "user_account_menu_link" do %>
    <i class="fas fa-unlock-alt fa-2x"></i>&nbsp;&nbsp;&nbsp;&nbsp;Change password
  <% end %><br>
  <%= link_to destroy_confirm_user_path(current_user), class: "user_account_menu_link" do %>
    <i class="fas fa-sad-tear fa-2x"></i>&nbsp;&nbsp;&nbsp;Close the account
  <% end %>
  <%= link_to 'New post', new_post_path, class: "cp_btn" %>
  <%= link_to iine_post_list_user_path(current_user), class: "iine_posts_link" do %>
    <%= content_tag :span, 'いいね！済みのリスト', id: "heart" %>
  <% end %>
</div>
