<div class="wrapper" id="signup_confirm_block">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-offset-3 col-xs-6 col-md-offset-4 col-md-4 confirm_area">
        <%= image_tag("/images/logo3.png", class: "img-responsive app_logo") %>
        <%= form_with(model: @user, local: true, class: "form_outer") do |f| %>
          <div class="confirm_list">
            <h4 class="confirm_message"><%= simple_format(t('users.confirm_message')) %></h4>
            <ul>
              <% if @user.picture.present? %>
                <li class="confirm_list_icon"><%= image_tag(@user.picture.image.url, class: "img-responsive") %></li>
                <%= hidden_field_tag :"cache[image]", @user.picture.image.cache_name %>
              <% else %>
                <li class="confirm_list_icon"><%= image_tag('/images/default.png', class: "img-responsive") %></li>
              <% end %>
              <li class="confirm_list_name"><%= @user.name %></li>
              <li class="confirm_list_email"><%= @user.email %></li>
            </ul>
            <%= f.submit t('users.to_new_page'), name: 'back', class: "btn btn-default" %><br>
            <%= f.submit t('users.create_account'), class: "btn btn-warning" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
