<div class="wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-offset-3 col-xs-6 col-md-offset-4 col-md-4" style="margin-top: 170px">
        <h3><%= t("views.users.destroy_page") %></h3>
        <!-- Sessionモデルがないため、リソースの名前とそれに対応するURLを指定する必要がある -->
        <%= form_with(model: User.new, url: user_path(@user.id), method: :delete, local: true, class: "form_outer") do |f| %>
          <div class="form_inner">
            <h5 style="line-height: 20px; font-size: 15px;">
              退会するとお客様に関連する情報が全て削除され、<br>
              ログインできなくなります。<br>
              また登録されていたデータは復元できません。よろしいですか？
            </h5>
            <div class="form-group">
              <!-- 値をtrue/falseにしてコントローラに送ると、ActiveRecord::Type::Boolean.new.cast(value)を使って -->
              <!-- 文字列の"true","false"をboolean型に変換する必要がある -->
              <%= f.check_box "destroy_check", {}, 1, 2 %>
              <%= f.label "destroy_check", "チェックを入れて退会ボタンを押してください" %>
            </div>
          </div>
          <%= f.submit "退会する", class: "btn btn-default" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
