<div class="wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-offset-2 col-xs-8 col-md-offset-2 col-md-8">
        <div class="user_area">
          <% if @user.picture.present? %>
            <%= image_tag(@user.picture.image.url, class: "img-responsive") %>
          <% else %>
            <%= image_tag("/images/default.png", class: "img-responsive")%>
          <% end %>
          <div class="user_name"><%= @user.name %>さんがいいね！した投稿</div>
        </div>

        <div class="iine_post_area">
          <% @iine_posts.each do |iine_post| %>
            <div class="col-xs-4 col-md-4 iine_post">
              <% if iine_post.picture.present? %>
                <%= link_to post_path(iine_post) do %>
                  <%= image_tag(iine_post.picture.image.url) %>
                  <div class="mask">
                		<div class="caption">More info !</div>
                	</div>
                <% end %>
              <% else %>
                <%= link_to post_path(iine_post) do %>
                  <%= image_tag("/images/default2.jpg") %>
                  <div class="mask">
                    <div class="caption">More info !</div>
                  </div>
                <% end %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
