<div class="wrapper" id="account_form_area">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-offset-3 col-xs-6 col-md-offset-4 col-md-4 account_form">
        <h3><%= t('views.users.password_reset_page') %></h3>
        <%= form_with(model: @user, url: password_update_user_path(@user), local: true, class: "user_form_outer") do |f| %>
          <div class="user_form_inner">
            <% if @user.errors.any? %>
              <div id="error_explanation">
                <h4>エラーが発生しました。以下の項目について確認してください。</h4>
                <ul>
                  <% @user.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>
            <div class="form-group">
              <%= f.label :password, '新しいパスワード' %>
              <%= f.password_field :password, placeholder: "6文字以上必要です。", class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :password_confirmation %>
              <%= f.password_field :password_confirmation, class: "form-control" %>
            </div>
          </div>
          <%= f.submit class: "btn btn-primary" %>
        <% end %>
        <%= link_to '戻る', user_path(current_user), class: "btn btn-default" %>
      </div>
    </div>
  </div>
</div>
