<div class="wrapper" id="password_reset_block">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-offset-3 col-xs-6 col-md-offset-4 col-md-4 input_form_area">
        <div class="input_form_area_body">
          <h3><%= t('users.password_reset_page') %></h3>
          <%= form_with(model: @user, url: password_update_user_path(@user), local: true, class: "form_outer") do |f| %>
            <div class="form_inner">
              <%= render partial: 'users/form_parts/error_explanation', locals: { user: @user } %>
              <div class="form-group">
                <%= f.label :current_password %>
                <%= f.password_field :current_password, placeholder: t('users.input_current_password'), class: "form-control" %>
              </div>
              <div class="form-group">
                <%= f.label :password, t('users.new_password') %>
                <%= f.password_field :password, placeholder: t('users.6_characters_or_more'), class: "form-control" %>
              </div>
              <div class="form-group">
                <%= f.label :password_confirmation %>
                <%= f.password_field :password_confirmation, class: "form-control" %>
              </div>
            </div>
            <%= f.submit t('users.change_password'), class: "btn btn-primary" %>
          <% end %>
          <%= link_to t('users.cancel'), user_path(current_user), class: "btn btn-default" %>
        </div>
      </div>
    </div>
  </div>
</div>
