<div class="container-fluid">
  <div class="row">

    <div class="col-md-offset-1 col-md-2">
      <%= link_to posts_path, class: "users_show_logo" do %>
        <%= image_tag("/images/logo.png", class: "img-responsive") %>
      <% end %>
      <table class="table table-hover table_resize" id="user_only">
        <thead>
          <tr>
            <th>カテゴリー</th>
          </tr>
        </thead>
        <tbody>
          <% @categories.each do |category| %>
            <tr class="active_category">
              <td><%= link_to category.name, category_user_path(category, @user) %></td>
            </tr>
          <% end %>
          <script>
             var url = window.location.pathname;
                $('.active_category td a[href="'+url+'"]').addClass('active');
          </script>
        </tbody>
      </table>
    </div>

    <div class="col-md-6">
      <% @user_posts.each do |user_post| %>
        <div class="thumbnail">
          <p class="category_label"><%= user_post.category.name %></p>
          <h3 style="font-weight: bold;"><%= user_post.ranking_point %>&nbsp;&nbsp;&nbsp;<%= user_post.eatery_name %></h3>
          <h4>メニュー名&nbsp;&nbsp;&nbsp;<%= user_post.eatery_food %></h4>
          <% if user_post.picture.present? %>
            <%= image_tag(user_post.picture.image.url, class: "img-responsive") %>
          <% else %>
            <%= image_tag("/images/default2.jpg", class: "img-responsive")%>
          <% end %>
          <div class="caption">
            <div class="remarks">
              <%= simple_format(user_post.remarks.truncate(150, omission: '...')) %>
            </div>
            <!-- TODO: リファクタリング -->
            <p>所在地：<%= user_post.eatery_address %></p>
            <!-- TODO: 存在しないアドレスだとエラーになる -->
            <% if user_post.eatery_website == "未登録" %>
              <p>ホームページ：未登録</p>
            <% else %>
              <p>ホームページ：<%= link_to user_post.eatery_name, user_post.eatery_website %></p>
            <% end %>
            <p><%= link_to "詳細をみる", post_path(user_post), class: "btn btn-custum" %></p>
            <% if user_post.user_id != current_user.id %>
              <li id="post-<%= user_post.id %>" data-post-id="<%= user_post.id %>" class="iine_list">
                <%= render "likes/like", post: user_post %><!-- TODO: いいねボタン -->
              </li>
            <% end %>
            <% if user_post.user_id == current_user.id %>
              <p class="edit_delete_button">
                <%= link_to "編集", edit_post_path(user_post), class: "btn btn-black" %>
                <%= link_to "削除", post_path(user_post), method: :delete, data: { confirm: "削除してよろしいですか？" }, class: "btn btn-default" %>
              </p>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="col-md-2">
      <div class="user_menu">
        <p><%= @user.name %></p>
        <% if @user.picture.present? %>
          <%= image_tag(@user.picture.image.url, class: "img-responsive image_processing") %>
        <% else %>
          <%= image_tag("/images/default.png", class: "img-responsive image_processing")%>
        <% end %>
        <% if @user.id == current_user.id %>
          <%= link_to "アカウント情報変更", edit_user_path(current_user) %><br>
          <%= link_to "退会処理", destroy_confirm_user_path(current_user) %>
          <%= link_to "新規登録", new_post_path, class: "cp_btn" %>
          <div class="iine_box">
            <% @user.iine_posts.each do |iine_post| %>
              <% if iine_post.user_id == current_user.id %>
                <span><%= image_tag(iine_post.user.picture.image.url, size: "30x30") %></span>
              <% else %>
                <span><%= image_tag("/images/default.png", size: "30x30") %></span>
              <% end %>
              <span style="font-size: 12px"><%= iine_post.user.name %></span>
              <span><%= link_to "#{iine_post.eatery_name}", post_path(iine_post.id) %></span><br><!-- TODO: idいる？ -->
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

  </div>
</div>
