<h3><%= @user.name %>さんのマイページ</h3>
<div class="container-fluid">
  <div class="row">

    <div class="col-md-2">
      <table class="table table-hover table_resize">
        <thead>
          <tr>
            <th>カテゴリー</th>
          </tr>
        </thead>
        <tbody>
          <% @categories.each do |category| %>
            <tr class="active_category">
              <td><%= link_to category.name, category_user_path(category, @user) %></td>
            </tr>
          <% end %>
          <script>
             var url = window.location.pathname;
                $('.active_category td a[href="'+url+'"]').addClass('active');
          </script>
        </tbody>
      </table>
    </div>

    <div class="col-md-8">
      <% @user_posts.each do |user_post| %>
        <div class="thumbnail">
          <h3>カテゴリー名：<%= user_post.category.name %></h3>
          <h3><%= user_post.ranking_point %>：<%= user_post.eatery_name %></h3>
          <h4>メニュー名：<%= user_post.eatery_food %></h4>
          <%= image_tag(user_post.picture.image.url) %>
          <div class="caption">
            <h4><%= user_post.remarks %></h4>
            <ul>
              <li>所在地：<%= user_post.eatery_address %></li>
              <li>ホームページ：<%= link_to user_post.eatery_website %></li>
            </ul>
            <p>
              <%= link_to "編集", edit_post_path(user_post), class: "btn btn-black" %>
              <%= link_to "削除", post_path(user_post), method: :delete, data: { confirm: "削除してよろしいですか？" }, class: "btn btn-default" %>
            </p>
          </div>
        </div>
      <% end %>
    </div>

    <div class="col-md-2">
      <div class="user_menu">
        <% if @user.picture.present? %>
          <%= image_tag(@user.picture.image.url, class: "img-responsive image_processing") %>
        <% else %>
          <%= image_tag("/images/default.png", class: "img-responsive image_processing")%>
        <% end %>
        <%= link_to "アカウント情報変更", edit_user_path(current_user) %><br>
        <%= link_to "退会処理" %>
        <%= link_to "新規登録", new_post_path, class: "cp_btn" %>
      </div>
    </div>

  </div>
</div>
