<div class="wrapper" id="my_page_area">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-offset-1 col-md-10">
        <div class="row">
          <div class="col-md-3 left_section">
            <%= render partial: 'category_list', locals: { categories: @categories } %>
          </div>
          <div class="col-md-6 center_section">
            <div class="catch_picture">
              <% if @picture.present? %>
                <%= image_tag(@picture.image.url, class: "img-responsive") %>
              <% else %>
                <%= image_tag("/images/honey.jpg", class: "img-responsive") %>
              <% end %>
            </div>
            <% if @user_posts.present? %>
              <%= render partial: 'thumbnail', collection: @user_posts, as: 'user_post' %>
            <% else %>
              <h4 class="no_post_message">投稿がありません</h4>
            <% end %>
          </div>
          <div class="col-md-3 right_section">
            <%= render partial: 'user_account_menu' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
