<div class="wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-2 col-md-offset-1 col-md-2 leftsidebar">
        <div class="category_list">
          <%= link_to posts_path, class: "logo" do %>
            <%= image_tag("/images/logo.png", class: "img-responsive") %>
          <% end %>
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Category</th>
              </tr>
            </thead>
            <tbody>
              <% @categories.each do |category| %>
                <tr class="active_category">
                  <td><%= link_to category.name, category_user_path(category, @user), class: cp(category_user_path(category, @user)) %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-xs-offset-2 col-xs-7 col-md-offset-3 col-md-6 centerbar">
        <% if @user_posts.present? %>
          <% @user_posts.each do |user_post| %>
            <div class="thumbnail">
              <p class="category_label"><%= user_post.category.name %></p>
              <h3><%= t("activerecord.enum.post.ranking_point.#{user_post.ranking_point}") %>&nbsp;&nbsp;&nbsp;<%= user_post.eatery_name %></h3>
              <h4>Menu: &nbsp;<%= user_post.eatery_food %></h4>
              <% if user_post.picture.present? %>
                <%= image_tag(user_post.picture.image.url, class: "img-responsive") %>
              <% else %>
                <%= image_tag("/images/default2.jpg", class: "img-responsive")%>
              <% end %>
              <div class="caption">
                <p>お気に入りの理由は？</p>
                <div class="remarks">
                  <%= render_with_hashtags(simple_format(user_post.remarks.truncate(150, omission: '...'))) %>
                </div>
                <p><%= link_to 'Learn more!', post_path(user_post), class: "btn btn-show" %></p>
                <!-- フォロー/フォロワー機能を実装したときに必要 -->
                <% if user_post.user_id != current_user.id %>
                  <div id="post-<%= user_post.id %>" data-post-id="<%= user_post.id %>" class="iine_button">
                    <%= render "likes/like", post: user_post %><!-- いいねボタン -->
                  </div>
                <% end %>
                <% if user_post.user_id == current_user.id %>
                  <p class="edit_delete_button">
                    <%= link_to 'EDIT', edit_post_path(user_post), class: "btn btn-warning" %>
                    <%= link_to 'DELETE', post_path(user_post), method: :delete, data: { confirm: '削除してよろしいですか？' }, class: "btn btn-danger" %>
                  </p>
                <% end %>
              </div>
            </div>
          <% end %>
        <% else %>
          <h4 class="no_post_message">投稿がありません</h4>
        <% end %>
      </div>
      <div class="col-xs-3 col-md-2 rightsidebar">
        <div class="user_account_menu">
          <p><%= @user.name.truncate(12, omission: '...') %></p>
          <% if @user.picture.present? %>
            <%= image_tag(@user.picture.image.url, class: "img-responsive") %>
          <% else %>
            <%= image_tag("/images/default.png", class: "img-responsive")%>
          <% end %>
          <%= link_to admin_tops_path, class: "user_account_menu_link" do %>
            <i class="fas fa-hammer fa-2x"></i>&nbsp;&nbsp;Administrator page
          <% end %><br>
          <%= link_to edit_user_path(current_user), class: "user_account_menu_link" do %>
            <i class="fas fa-user-edit fa-2x"></i>&nbsp;&nbsp;Edit account info
          <% end %><br>
          <%= link_to password_reset_user_path(current_user), class: "user_account_menu_link" do %>
            <i class="fas fa-unlock-alt fa-2x"></i>&nbsp;&nbsp;&nbsp;&nbsp;Change password
          <% end %><br>
          <%= link_to destroy_confirm_user_path(current_user), class: "user_account_menu_link" do %>
            <i class="fas fa-sad-tear fa-2x"></i>&nbsp;&nbsp;&nbsp;Close the account
          <% end %>
          <%= link_to 'New post', new_post_path, class: "cp_btn" %>
          <%= link_to iine_post_list_user_path(@user), class: "iine_posts_link" do %>
            <%= content_tag :span, 'いいね！済みのリスト', id: "heart" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
