<%= form_with(model: [:admin, category], local: true, class: "form_outer") do |f| %>
  <div class="form_inner">
    <% if @category.errors.any? %>
      <div id="error_explanation">
        <h4><%= t('error_occurred') %></h4>
        <ul>
          <% @category.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>
    </div>
  </div>
  <%= f.submit class: "btn btn-default" %>
<% end %>
