<p class="move_page_link">
  <%= link_to_previous_page categories, t('.prev_page'), class: "prev_page" %>
  <%= link_to_next_page categories, t('.next_page'), class: "next_page" %>
</p>
<table class="table">
  <thead>
    <tr>
      <th><%= Category.human_attribute_name(:name) %></th>
      <th></th><!-- 空マス -->
    </tr>
  </thead>
  <tbody>
    <% categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td>
          <%= link_to t('edit_button'), edit_admin_category_path(category) %>&nbsp;
          <%= link_to t('delete_button'),
                       admin_category_path(category),
                       method: :delete,
                       data: { confirm: t('.category_confirm_deletion', category: category.name) },
                       class: "category_destroy_link"
          %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
