<%= form_with(model: post, local: true, class: "post_form_outer") do |f| %>
  <div class="post_form_inner">
    <% if post.errors.any? %>
      <div id="error_explanation"><!-- TODO: CSS当たってない？ -->
        <h2><%= post.errors.count %>件のエラーがあります。</h2>
        <ul>
          <% post.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <p>※各カテゴリー１位〜３位まで、ご登録いただけます。</p>
    <div class="form-group">
      <%= f.label :category_id %>
      <%= f.collection_select :category_id, Category.all, :id, :name, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :ranking_point %>
      <!-- formはデフォルトで""がついてしまうため、.keysが必要 -->
      <!-- 動的にすでに存在する順位は選べないようにするにはAjaxの技術が必要 -->
      <%= f.select :ranking_point, Post.ranking_points.keys, class: "form-control" %>
      <% if current_user.posts.present? %>
        <div class="unavailable_post">
          <% current_user.posts.each do |post| %>
            <p>
              <%= Category.find(post.category_id).name %>の
              <%= post.ranking_point %>は既に使用されています。
            </p>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="form-group">
      <%= f.label :eatery_name, "店名（できるかぎり正確な店名で、ご登録をお願いします）" %>
      <%= f.text_field :eatery_name, placeholder: "例：（店名：中華一番）○ 中華一番 x 中華いちばん", class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :eatery_food %>
      <%= f.text_field :eatery_food, placeholder: "例：醤油ラーメン", class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :eatery_address, "所在地（任意）" %>
      <%= f.text_field :eatery_address, placeholder: "例：東京都渋谷区", class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :eatery_website, "店のホームページ（任意）" %>
      <%= f.text_field :eatery_website, placeholder: "例：https://xxxxxxx.com", class: "form-control" %>
    </div>
    <!-- Pictureモデルのimage属性をセット -->
    <div class="form-group"><!-- TODO: image_cache -->
      <%= f.label :image, "画像（任意）" %>
      <%= f.file_field :image, class: "form-control" %>
      <%= f.hidden_field :image_cache %>
      <!-- accepts_nested_attributes_forを使うとき(fields_forのforは省略可) -->
      <%#= f.fields :picture do |picture_form| %>
        <%#= picture_form.label :image, "画像（任意）" %>
        <%#= picture_form.file_field :image, class: "form-control" %>
        <%#= picture_form.hidden_field :image_cache %>
      <%# end %>
    </div>
    <% if post_with_pictures_edit_page?(post) %>
      <div class="form-group">
        <!-- 値をtrue/falseにしてコントローラに送ると、ActiveRecord::Type::Boolean.new.cast(value)を使って -->
        <!-- 文字列の"true","false"をboolean型に変換する必要がある -->
        <%= f.check_box "picture_delete_check", {}, 1, 2 %>
        <%= f.label "picture_delete_check", "登録済みの画像を削除する場合はチェック入れてください" %>
      </div>
    <% end %>
    <div class="form-group">
      <%= f.label :remarks, "一言、好きな理由を添えて投稿をお願いします" %>
      <%= f.text_area :remarks, class: "form-control" %>
    </div>
  </div>
  <%= f.submit class: "btn btn-default" %>
<% end %>
