<%= form_with(model: post, local: true, class: "post_form_outer") do |f| %>
  <div class="post_form_inner">
    <% if post.errors.any? %>
      <div id="error_explanation">
        <h4>エラーが発生しました。以下の項目について確認してください。</h4>
        <ul>
          <% post.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <p>※各カテゴリー１位〜３位まで、ご登録いただけます。</p>
    <div class="form-group">
      <%= f.label :category_id %>
      <%= f.collection_select :category_id, Category.all, :id, :name, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :ranking_point %>
      <!-- 動的にすでに存在する順位は選べないようにするにはAjaxの技術が必要 -->
      <%= f.select :ranking_point,
                   Post.ranking_points.to_a.map{ |rp| [t("activerecord.enum.post.ranking_point.#{rp[0]}"), "#{rp[1]}"] },
                   selected: post.ranking_point_before_type_cast,
                   class: "form-control"
                   %>
      <% if current_user.posts.present? %>
        <div class="unavailable_post">
          <% current_user.posts.order(ranking_point: :desc).each do |post| %>
            <p>
              <%= Category.find(post.category_id).name %>の
              <%= t("activerecord.enum.post.ranking_point.#{post.ranking_point}") %>は既に使用されています。
            </p>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="form-group">
      <%= f.label :eatery_name do %>
        店名&emsp;※できるかぎり正確な名称で、ご登録をお願いします&ensp;m(_ _)m
      <% end %>
      <%= f.autocomplete_field :eatery_name,
                               autocomplete_post_eatery_name_posts_path,
                               update_elements: {},
                               'data-noMatchesLabel': 'Sorry, nothing found.',
                               placeholder: "例：中華一番 (正) 中華一番 (誤) 中華いちばん",
                               class: "form-control"
      %>
    </div>
    <div class="form-group">
      <%= f.label :eatery_food %>
      <%= f.autocomplete_field :eatery_food,
                               autocomplete_post_eatery_food_posts_path,
                               update_elements: {},
                               'data-noMatchesLabel': 'Sorry, nothing found.',
                               placeholder: "例：醤油ラーメン",
                               class: "form-control"
      %>
    </div>
    <div class="form-group">
      <%= f.label :eatery_address, "所在地（任意）" %>
      <%= f.autocomplete_field :eatery_address,
                               autocomplete_post_eatery_address_posts_path,
                               update_elements: {},
                               'data-noMatchesLabel': 'Sorry, nothing found.',
                               placeholder: "例：東京都渋谷区",
                               class: "form-control"
      %>
    </div>
    <div class="form-group">
      <%= f.label :eatery_website, "Website（任意）" %>
      <%= f.text_field :eatery_website, placeholder: "例：https://xxxxxxx.com", class: "form-control" %>
    </div>
    <!-- Pictureモデルのimage属性をセット -->
    <div class="form-group"><!-- TODO: image_cache -->
      <%= f.label :image, "画像（任意）" %>
      <%= f.file_field :image, class: "form-control" %>
      <%= f.hidden_field :image_cache %>
      <!-- accepts_nested_attributes_forを使うとき(fields_forのforは省略可) -->
      <%#= f.fields :picture do |picture_form| %>
        <%#= picture_form.label :image, "画像（任意）" %>
        <%#= picture_form.file_field :image, class: "form-control" %>
        <%#= picture_form.hidden_field :image_cache %>
      <%# end %>
    </div>
    <% if post_with_pictures_edit_page?(post) %>
      <div class="form-group">
        <!-- 値をtrue/falseにしてコントローラに送ると、ActiveRecord::Type::Boolean.new.cast(value)を使って -->
        <!-- 文字列の"true","false"をboolean型に変換する必要がある -->
        <%= f.check_box "picture_delete_check", {}, 1, 2 %>
        <%= f.label "picture_delete_check", "登録済みの画像を削除する場合はチェック入れてください" %>
      </div>
    <% end %>
    <div class="form-group">
      <%= f.label :remarks, "詳しい説明" %>
      <%= f.text_area :remarks, class: "form-control" %>
    </div>
  </div>
  <%= f.submit class: "btn btn-default" %>
<% end %>
