<div class="wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2 left_section">
        <div>
          <%= render partial: 'posts/index_parts/search_form', locals: { categories: @categories } %>
          <%= link_to 'New post', new_post_path, class: "cp_btn" %>
        </div>
        <div class="category_list">
          <%= render partial: 'posts/index_parts/category_list', locals: { categories: @categories } %>
        </div>
      </div>
      <div class="col-md-offset-2 col-md-7 center_section">
        <div class="row">
          <div class="col-md-6">
            <% if @posts.present? %>
              <p class="new_post_heading"><%= t('views.posts.latest_article') %></p>
              <%= render partial: 'posts/index_parts/thumbnail', locals: { post: @posts.first } %>
            <% else %>
              <h4 class="no_post_message"><%= t('views.no_post') %></h4>
            <% end %>
          </div>
          <div class="col-md-6"></div>
        </div>
        <div class="row second_to_last row-eq-height">
          <% if @posts.present? %>
            <% @posts[1..-1].each do |post| %>
              <div class="col-md-4">
                <%= render partial: 'posts/index_parts/thumbnail', locals: { post: post } %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="col-md-3 right_section">
        <%= render partial: 'posts/index_parts/slide_wrapp' %>
        <%= render partial: 'posts/index_parts/tabs',
                   locals: {
                     iine_ranking_posts: @iine_ranking_posts,
                     overall_ranking_posts: @overall_ranking_posts,
                     categories: @categories
                   }
        %>
      </div>
    </div>
  </div>
  <div id="page_top"><a href="#"></a></div>
</div>
