<div class="wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2 leftsidebar">
        <div>
          <%= render partial: 'search_form' %>
          <%= link_to 'New post', new_post_path, class: "cp_btn" %>
        </div>
        <div class="category_list">
          <%= render partial: 'category_list', locals: { categories: @categories } %>
        </div>
      </div>
      <div class="col-md-offset-2 col-md-7 centerbar">
        <div class="col-md-12">
          <% if @posts.present? %>
            <%= render partial: 'thumbnail', locals: { post: @posts.first } %>
          <% else %>
            <h4 class="no_post_message">投稿がありません</h4>
          <% end %>
        </div>
        <div class="col-md-12 second_to_last">
          <% if @posts.present? %>
            <% @posts[1..-1].each do |post| %>
              <div class="col-md-6">
                <%= render partial: 'thumbnail', locals: { post: post } %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="col-md-3 rightsidebar">
        <%= render partial: 'slide_wrapp' %>
        <%= render partial: 'tabs', locals: { iine_ranking_posts: @iine_ranking_posts,
                                              overall_ranking_posts: @overall_ranking_posts } %>
      </div>
    </div>
  </div>
  <div id="page_top"><a href="#"></a></div>
</div>
