<h3>全ユーザーランキング一覧画面</h3>
<div class="container-fluid">
  <div class="row">

    <div class="col-md-2">
      <table class="table table-hover table_resize">
        <thead>
          <tr>
            <th>カテゴリー</th>
          </tr>
        </thead>
        <tbody>
          <% @categories.each do |category| %>
            <tr class="active_category">
              <td><%= link_to category.name, category_posts_path(category) %></td>
            </tr>
          <% end %>
          <script>
             var url = window.location.pathname;
                $('.active_category td a[href="'+url+'"]').addClass('active');
          </script>
        </tbody>
      </table>
    </div>

    <div class="col-md-8">
      <table border="2" width="930">
        <tr>
          <!-- <td>１位</td>
          <td>２位</td>
          <td>３位</td> -->
          <td>総合ランキング</td>
          <td>いいねランキング</td>
        </tr>
      </table>
      <% @posts.each do |post| %>
        <div class="thumbnail">
          <h3>カテゴリー名：<%= post.category.name %></h3>
          <h3><%= post.ranking_point %>：<%= post.eatery_name %></h3>
          <h4>メニュー名：<%= post.eatery_food %></h4>
          <%= image_tag(post.picture.image.url) %>
          <div class="caption">
            <h4><%= post.remarks %></h4>
            <ul>
              <li>所在地：<%= post.eatery_address %></li>
              <li>ホームページ：<%= link_to post.eatery_website %></li>
              <li>投稿者：<%= post.user.name %></li>
            </ul>
            <p>
              <%= link_to "編集", edit_post_path(post), class: "btn btn-black" %>
              <%= link_to "削除", post_path(post), method: :delete, data: { confirm: "削除してよろしいですか？" }, class: "btn btn-default" %>
            </p>
          </div>
        </div>
      <% end %>
    </div>

    <div class="col-md-2">
      <%= form_with(model: Post.new, url: search_posts_path, method: :get, local: true, class: "SearchForm_outer") do |f| %>
        <div class="SearchForm_inner">
          <div class="form-group">
            <%= f.label :eatery_address %>
            <%= f.text_field :eatery_address, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :category_id %>
            <%= f.collection_select :category_id, Category.all, :id, :name, include_blank: true, selected: "", class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :ranking_point %>
            <!-- formはデフォルトで""がついてしまうため、.keysが必要 -->
            <%= f.select :ranking_point, Post.ranking_points.keys, include_blank: true, selected: "", class: "form-control" %>
          </div>
          <%= f.submit "検索" %>
        </div>
      <% end %>
    </div>

  </div>
</div>
