<div class="wrapper" id="post_show_area">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-offset-1 col-md-7">
        <div class="thumbnail">
          <%= picture_not_link(@post) %>
          <div class="thumbnail_header">
            <ul>
              <li class="category_label"><%= @post.category.name %></li>
              <li class="eatery_name"><%= @post.eatery_name %></li>
              <li class="eatery_food">Menu: <%= @post.eatery_food %></li>
            </ul>
          </div>
          <div class="caption">
            <div class="caption_user_block">
              <%= picture_not_link(@post.user) %>
              <!-- TODO: フォロー/フォロワー機能を実装したらフォロワーだけがユーザーのshowページを閲覧できるようにする -->
              <div class="caption_user_block_post_time">
                <%= @post.user.name.truncate(12, omission: '...') %>さんが
                <%= @post.category.name %>の
                <%= t("activerecord.enum.post.ranking_point.#{@post.ranking_point}") %>に投稿しました。<br>
                <time datetime="<%= @post.updated_at %>">
                  <%= time_ago_in_words(@post.updated_at, include_seconds: true)+"前" %>
                </time>
                <%#= link_to @post.user.name, user_path(@post.user) %>
              </div>
              <div class="caption_user_block_iine_count">
                いいね！登録&nbsp;&nbsp;<%= @post.likes_count %>件
              </div>
            </div>
            <p class="caption_remarks_title">お気に入りの理由は？</p>
            <div class="caption_remarks">
              <%= render_with_hashtags(simple_format(@post.remarks)) %>
            </div>
            <div class="caption_eatery_info">
              <ul>
                <li class="eatery_address">Address: <%= @post.eatery_address %></li>
                <% if @post.eatery_website == "未登録" %>
                  <li class="eatery_website">Website: 未登録<li>
                <% else %>
                  <li class="eatery_website">Website: <%= link_to @post.eatery_name, @post.eatery_website %></li>
                <% end %>
              </ul>
            </div>
            <div id="post-<%= @post.id %>" data-post-id="<%= @post.id %>" class="iine_button">
              <%= render "likes/like", post: @post %><!-- いいねボタン -->
            </div>
            <% if @post.user_id == current_user.id %>
              <p class="edit_delete_button">
                <%= link_to 'EDIT', edit_post_path(@post), class: "btn btn-warning" %>
                <%= link_to 'DELETE',
                             post_path(@post),
                             method: :delete,
                             data: { confirm: "削除してよろしいですか？" },
                             class: "btn btn-danger"
                %>
              </p>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-md-3 right_section">
        <p class="title">コメント</p>
        <div id="comments_area"><!-- このidをターゲットにして、このdiv内をAjaxで書き換える。 -->
          <!-- 投稿されたコメント一覧をブログの詳細ページに表示するためのrender -->
          <%= render partial: 'comments/index', locals: { comments: @comments } %>
        </div>
        <div class="comments_form_area">
          <%# if logged_in? %>
            <!-- コメント入力欄をブログの詳細ページに表示するためのrender -->
            <%= render partial: 'comments/form', locals: { comment: @comment, post: @post } %>
          <%# end %>
        </div>
      </div>
    </div>
  </div>
</div>
