<div class="wrapper" id="post_show_block">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-offset-1 col-md-7">
        <div class="thumbnail">
          <%= picture_not_link(@post) %>
          <div class="thumbnail_header">
            <ul>
              <li class="category_label"><%= @post.category.name %></li>
              <li class="en_text"><%= @post.eatery_name %></li>
              <li class="ef_text">Menu: <%= @post.eatery_food %></li>
            </ul>
          </div>
          <div class="caption">
            <div class="caption_user_block">
              <%= picture_not_link(@post.user) %>
              <!-- TODO: フォロー/フォロワー機能を実装したらフォロワーだけがユーザーのshowページを閲覧できるようにする -->
              <div class="caption_user_block_post_time">
                <%= @post.user.name.truncate(12, omission: '...') %>さんが
                <%= @post.category.name %>の
                <%= t("activerecord.enum.post.ranking_point.#{@post.ranking_point}") %>に投稿しました。<br>
                <time datetime="<%= @post.updated_at %>">
                  <%= time_ago_in_words(@post.updated_at, include_seconds: true)+"前" %>
                </time>
                <%#= link_to @post.user.name, user_path(@post.user) %>
              </div>
              <div class="caption_user_block_iine_count">
                いいね！登録&nbsp;&nbsp;<%= @post.likes_count %>件
              </div>
            </div>
            <div class="caption_remarks">
              <%= render_with_hashtags(auto_link(simple_format(h(@post.remarks), {}, sanitize: false, wrapper_tag: "div"))) %>
            </div>
            <div class="caption_eatery_info">
              <ul>
                <li class="eadd_text">Address: <%= @post.eatery_address %></li>
                <% if @post.eatery_website == "未登録" %>
                  <li class="eweb_text">Website: 未登録<li>
                <% else %>
                  <li class="eweb_text">Website: <%= link_to @post.eatery_name, @post.eatery_website %></li>
                <% end %>
              </ul>
            </div>
            <div id="post-<%= @post.id %>" data-post-id="<%= @post.id %>" class="iine_button">
              <%= render "likes/like", post: @post %>
            </div>
            <% if poster?(@post) %>
              <p class="edit_delete_button">
                <%= link_to 'EDIT', edit_post_path(@post), class: "btn btn-warning" %>
                <%= link_to 'DELETE',
                             post_path(@post),
                             method: :delete,
                             data: { confirm: "削除してよろしいですか？" },
                             class: "btn btn-danger"
                %>
              </p>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-md-3 right_section">
        <p class="title">コメント</p>
        <div id="comments_area"><!-- このidをターゲットにして、このdiv内をAjaxで書き換える。 -->
          <%= render partial: 'comments/index', locals: { comments: @comments } %>
        </div>
        <div class="comments_form_area">
          <%= render partial: 'comments/form', locals: { comment: @comment, post: @post } %>
        </div>
      </div>
    </div>
  </div>
</div>
