<div class="wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-offset-1 col-xs-7 col-md-offset-1 col-md-7">
        <div class="thumbnail">
          <div class="thumbnail_header">
            <span class="category_label_in_posts_show"><%= @post.category.name %></span>
            <span><%= @post.ranking_point %>&nbsp;&nbsp;&nbsp;<%= @post.eatery_name %></span>&nbsp;&nbsp
            <span>“ <%= @post.eatery_food %> ”</span>
          </div>
          <% if @post.picture.present? %>
            <%= image_tag(@post.picture.image.url, class: "img-responsive") %>
          <% else %>
            <%= image_tag("/images/default2.jpg", class: "img-responsive") %>
          <% end %>
          <div class="caption">
            <% if @post.user.picture.present? %>
              <span><%= image_tag(@post.user.picture.image.url, size: "48x48") %></span>
            <% else %>
              <span><%= image_tag("/images/default.png", size: "48x48") %></span>
            <% end %>
            <!-- TODO: フォロー/フォロワー機能を実装したらフォロワーだけがユーザーのshowページを閲覧できるようにする -->
            <span>&nbsp;&nbsp;<%= @post.user.name %><%#= link_to @post.user.name, user_path(@post.user) %></span>
            <p style="padding-top: 10px;">お気に入りの理由は？</p>
            <div class="remarks">
              <%= simple_format(@post.remarks) %>
            </div>

            <span>所在地：<%= @post.eatery_address %></span>&nbsp;&nbsp;&nbsp;
            <!-- TODO: 存在しないアドレスだと404エラーになる -->
            <% if @post.eatery_website == "未登録" %>
              <span>ホームページ：未登録<span>&nbsp;&nbsp;&nbsp;
            <% else %>
              <span>ホームページ：<%= link_to @post.eatery_name, @post.eatery_website %></span>&nbsp;&nbsp;&nbsp;
            <% end %>
            <div id="post-<%= @post.id %>" data-post-id="<%= @post.id %>" class="iine_button">
              <%= render "likes/like", post: @post %><!-- いいねボタン -->
            </div>
            <% if @post.user_id == current_user.id %>
              <p class="edit_delete_button">
                <%= link_to "編集", edit_post_path(@post), class: "btn btn-black" %>
                <%= link_to "削除", post_path(@post), method: :delete, data: { confirm: "削除してよろしいですか？" }, class: "btn btn-default" %>
              </p>
            <% end %>
          </div>
        </div>
        <div class="iine_count">
          いいね！登録&nbsp;&nbsp;<%= @post.likes_count %>件
        </div>
      </div>
      <div class="col-xs-3 col-md-3 comments_area_outer">
        <p class="title">コメント</p>
        <div id="comments_area"><!-- このidをターゲットにして、このdiv内をAjaxで書き換える。 -->
          <!-- 投稿されたコメント一覧をブログの詳細ページに表示するためのrender -->
          <%= render partial: 'comments/index', locals: { comments: @comments } %>
        </div>
        <%# if logged_in? %>
          <!-- コメント入力欄をブログの詳細ページに表示するためのrender -->
          <%= render partial: 'comments/form', locals: { comment: @comment, post: @post } %>
        <%# end %>
      </div>
    </div>
  </div>
</div>
