<div class="wrapper" id="post_show_block">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-offset-1 col-md-7">
        <div class="thumbnail">
          <%= no_link_picture(@post) %>
          <div class="thumbnail_header">
            <ul>
              <li class="category_label"><%= @post.category.name %></li>
              <li><%= t('views.posts.store_name_and_menu', store: @post.eatery_name, menu: @post.eatery_food) %></li>
            </ul>
          </div>
          <div class="caption">
            <div class="caption_user_block">
              <%= no_link_picture(@post.user) %>
              <div class="caption_user_block_post_time">
                <%= t('views.posts.post_info',
                    user: @post.user.name.truncate(12, omission: '...'),
                    category: @post.category.name,
                    rank: t("activerecord.enum.post.ranking_point.#{@post.ranking_point}"))
                %><br>
                <time datetime="<%= @post.updated_at %>">
                  <%= t('views.posts.posting_time', time: time_ago_in_words(@post.updated_at, include_seconds: true)) %>
                </time>
              </div>
              <div class="caption_user_block_iine_count">
                <%= t('views.posts.number_of_likes', count: @post.likes_count) %>
              </div>
            </div>
            <div class="caption_remarks">
              <%= render_with_hashtags(auto_link(simple_format(h(@post.remarks), {}, sanitize: false, wrapper_tag: "div"))) %>
            </div>
            <div class="caption_eatery_info">
              <ul>
                <li class="eadd_text"><%= t('views.posts.location', address: @post.eatery_address) %></li>
                <% if @post.eatery_website == "未登録" %>
                  <li class="eweb_text"><%= t('views.posts.unregistered_website') %><li>
                <% else %>
                  <li class="eweb_text"><%= t('views.posts.registered_website') %><%= link_to @post.eatery_name, @post.eatery_website %></li>
                <% end %>
              </ul>
            </div>
            <div id="post-<%= @post.id %>" data-post-id="<%= @post.id %>" class="iine_button">
              <%= render "likes/like", post: @post %>
            </div>
            <% if poster?(@post) %>
              <p class="edit_delete_button">
                <%= link_to t('views.edit_button'), edit_post_path(@post), class: "btn btn-warning" %>
                <%= link_to t('views.delete_button'),
                             post_path(@post),
                             method: :delete,
                             data: { confirm: t('views.delete_message') },
                             class: "btn btn-danger"
                %>
              </p>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-md-3 right_section">
        <p class="title"><%= Comment.model_name.human %></p>
        <div id="comments_area"><!-- このidをターゲットにして、このdiv内をAjaxで書き換える。 -->
          <%= render partial: 'comments/index', locals: { comments: @comments } %>
        </div>
        <div class="comments_form_area">
          <%= render partial: 'comments/form', locals: { comment: @comment, post: @post } %>
        </div>
      </div>
    </div>
  </div>
</div>
