<div class="wrapper" id="post_show_block">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-offset-1 col-md-7">
        <div class="thumbnail">
          <%= no_link_picture(@post) %>
          <div class="thumbnail_header">
            <ul>
              <li class="category_label"><%= choose_name_ja_or_name_en(@post.category) %></li>
              <li><%= t('.eatery_name_and_menu', name: @post.eatery_name, menu: @post.eatery_food) %></li>
            </ul>
          </div>
          <div class="caption">
            <div class="caption_user_block">
              <%= no_link_picture(@post.user) %>
              <div class="caption_user_block_post_time">
                <%= t('.user_category_rank',
                    user: @post.user.name.truncate(12, omission: '...'),
                    category: choose_name_ja_or_name_en(@post.category),
                    rank: t("activerecord.enum.post.ranking_point.#{@post.ranking_point}"))
                %><br>
                <time datetime="<%= @post.updated_at %>">
                  <%= t('.posting_time', time: time_ago_in_words(@post.updated_at, include_seconds: true)) %>
                </time>
              </div>
              <div class="caption_user_block_iine_count">
                <%= t('.number_of_likes', count: @post.likes_count) %>
              </div>
            </div>
            <div class="caption_remarks">
              <%= render_with_hashtags(auto_link(simple_format(h(@post.remarks), {}, sanitize: false, wrapper_tag: "div"))) %>
            </div>
            <div class="caption_eatery_info">
              <ul>
                <li class="eadd_text"><%= t('.e_add') %><%= choose_add_ja_or_add_en(@post.eatery_address) %></li>
                <li class="eweb_text"><%= t('.e_web') %><%= choose_web_ja_or_web_en(@post.eatery_website) %></li>
              </ul>
            </div>
            <div id="post-<%= @post.id %>" data-post-id="<%= @post.id %>" class="iine_button">
              <%= render "likes/like", post: @post %>
            </div>
            <% if poster?(@post) %>
              <p class="edit_delete_button">
                <%= link_to t('edit_button'), edit_post_path(@post), class: "btn btn-warning" %>
                <!-- TODO: confirm_deletion -->
                <%= link_to t('delete_button'),
                             post_path(@post),
                             method: :delete,
                             data: { confirm: t('confirm_deletion') },
                             class: "btn btn-danger"
                %>
              </p>
            <% end %>
          </div>
        </div>

        <!-- Google map -->
        <div id="map"></div>

      </div>
      <div class="col-md-3 right_section">
        <p class="title"><%= Comment.model_name.human %></p>
        <div id="comments_area"><!-- このidをターゲットにして、このdiv内をAjaxで書き換える。 -->
          <%= render partial: 'comments/index', locals: { comments: @comments } %>
        </div>
        <div class="comments_form_area">
          <%= render partial: 'comments/form', locals: { comment: @comment, post: @post } %>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- scriptタグは表示したいページにだけ書けばいい -->
<script
  async defer
  src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GMAP_API_KEY'] %>&callback=initMap"
 >
</script>
