<div class="thumbnail">
  <ul>
    <li class="category_label"><%= choose_name_ja_or_name_en(post.category) %></li>
  </ul>
  <div class="link_to_detail">
    <% if post.picture.present? %>
      <%= link_to post_path(post) do %>
        <%= image_tag(post.picture.image.url, class: "img-responsive") %>
        <div class="mask">
          <div class="mask_message">
            <%= post.eatery_name.truncate(12, omission: '...') %><br>
            <%= t('.food_menu', name: post.eatery_food.truncate(12, omission: '...')) %><br>
            &hellip;<%= t('.learn_more') %>
          </div>
        </div>
      <% end %>
    <% else %>
      <%= link_to post_path(post) do %>
        <%= image_tag("/images/default2.jpg", class: "img-responsive") %>
        <div class="mask">
          <div class="mask_message">
            <%= post.eatery_name.truncate(12, omission: '...') %><br>
            <%= t('.food_menu', name: post.eatery_food.truncate(12, omission: '...')) %><br>
            &hellip;<%= t('.learn_more') %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="caption">
    <p><%= t('.poster_name', name: post.user.name.truncate(12, omission: '...')) %></p>
    <p>
      <span>
        <time datetime="<%= post.updated_at %>">
          <%= t('.posting_time', time: time_ago_in_words(post.updated_at, include_seconds: true)) %>&#12539;
        </time>
      </span>
      <span>
        <%= t('.category_and_rank',
            category: choose_name_ja_or_name_en(post.category),
            rank: t("activerecord.enum.post.ranking_point.#{post.ranking_point}"))
        %>
      </span>
    </p>
    <p><%= t('.e_add') %><%= choose_add_ja_or_add_en(post.eatery_address) %></p>
    <% if poster?(post) %>
      <%= link_to t('edit_button'), edit_post_path(post), class: "btn btn-warning" %>
      <!-- TODO: confirm_deletion -->
      <%= link_to t('delete_button'),
                  post_path(post),
                  method: :delete,
                  data: { confirm: t('confirm_deletion') },
                  class: "btn btn-danger"
      %>
    <% end %>
    <div id="post-<%= post.id %>" data-post-id="<%= post.id %>" class="iine_button">
      <%= render "likes/like", post: post %>
    </div>
  </div>
</div>
