<table class="table">
  <thead>
    <tr>
      <th><%= t('.account_name') %></th>
      <th><%= t('.administrator_rights') %></th>
      <th></th><!-- 空マス -->
    </tr>
  </thead>
  <tbody>
    <% users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <% if user.admin %>
          <td><%= t('.yes') %></td>
        <% else %>
          <td><%= t('.no') %></td>
        <% end %>
        <td>
          <%= link_to t('edit_button'), edit_admin_user_path(user) %>&nbsp;
          <%= link_to t('delete_button'),
                       admin_user_path(user),
                       method: :delete,
                       data: { confirm: t('.user_confirm_deletion', user: user.name) },
                       class: "user_destroy_link"
          %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
