<div class="wrapper" id="admin_change_block">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-offset-4 col-xs-4 col-md-offset-4 col-md-4">
        <h3><span class="underline"><%= t('admin.users.admin_edit_page') %></span></h3>
        <%= form_with(model: [:admin, @user], local: true, class: "form_outer") do |f| %>
          <div class="form_inner">
            <% if @user.errors.any? %>
              <div id="error_explanation">
                <h4><%= t('error_occurred') %></h4>
                <ul>
                  <% @user.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>
            <h3><%= @user.name %></h3>
            <div class="form-group">
              <%= f.label :admin, t('admin.users.administrator_rights') %>
              <div>
                <label>
                  <%= f.radio_button :admin, 0, checked: @user.admin %>
                  <%= t('admin.users.yes') %>
                </label>
              </div>
              <div>
                <label>
                  <%= f.radio_button :admin, 1, checked: !@user.admin %>
                  <%= t('admin.users.no') %>
                </label>
              </div>
            </div>
          </div>
          <%= f.submit class: "btn btn-default" %>
        <% end %>
        <%= link_to t('admin.users.return_to_user_list_page'), admin_users_path, class: "btn btn-default" %>
      </div>
    </div>
  </div>
</div>
