<header class="site-header">
  <div class="app_logo">
    <%= link_to posts_path do %>
      <%= image_tag("/images/logo.png", class: "img-responsive") %>
    <% end %>
  </div>
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      <i class="fas fa-bars fa-2x"></i>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li><%= link_to '投稿一覧', posts_path, class: posts_index_page?(params[:controller], params[:action]) %></li>
      <li><%= link_to '私のお気に入りランキング', user_path(current_user), class: my_page?(params[:controller], params[:action]) %></li>
      <li><%= link_to 'ログアウト', logout_path, method: :delete %></li>
    </ul>
  </div>
</header>
