<!DOCTYPE html>
<html>
  <head>
    <title>Docking</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if logged_in? %>
        <div class="nav">
          <%= link_to "みんなのお気に入り", posts_path %>&nbsp;&nbsp;&nbsp;
          <%= link_to "私のお気に入り", user_path(current_user) %>&nbsp;&nbsp;&nbsp;
          <%= link_to "ログアウト", session_path(current_user), method: :delete %>
        </div>
        <p class="active_user"><%= current_user.name %>さんが現在ログイン中</p>
      <% else %>
        <div class="nav">
          <%= link_to "ログイン", new_session_path %>&nbsp;&nbsp;&nbsp;
          <%= link_to "アカウント登録", new_user_path %>
        </div>
      <% end %>
    </header>
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
    <div class="main_section">
      <%= yield %>
    </div>
  </body>
</html>
