<!DOCTYPE html>
<html>
  <head>
    <title>Docking</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Font Awesome -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" >
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  </head>

  <body>
    <% if logged_in? %>
      <header class="site-header">
        <div class="app_logo">
          <%= link_to posts_path do %>
            <%= image_tag("/images/logo.png", class: "img-responsive") %>
          <% end %>
        </div>
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <i class="fas fa-bars fa-2x"></i>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><%= link_to 'ランキング一覧', posts_path, class: cp(posts_path) %></li>
            <li><%= link_to '私のお気に入り', user_path(current_user), class: cp(user_path(current_user)) %></li>
            <li><%= link_to 'ログアウト', session_path(current_user), method: :delete %></li>
          </ul>
        </div>
      </header>
    <% end %>
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
    <div class="main_section">
      <%= yield %>
    </div>
  </body>
</html>
