<!DOCTYPE html>
<html>
  <head>
    <title>Docking</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Font Awesome -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" >
  </head>

  <body>
    <header>
      <div class="navibar">
        <% if logged_in? %>
          <%= link_to "ランキング一覧", posts_path %>&nbsp;&nbsp;&nbsp;
          <%= link_to "私のお気に入り", user_path(current_user) %>&nbsp;&nbsp;&nbsp;
          <%= link_to "ログアウト", session_path(current_user), method: :delete %>&nbsp;&nbsp;&nbsp;
          <span><%= current_user.name.truncate(12, omission: '...') %>さんが現在ログイン中</span>
          <script>
            var url = window.location.pathname;
            $('.navibar a[href="'+url+'"]').addClass('active');
          </script>
        <% else %>
          <%= link_to "ログイン", new_session_path %>&nbsp;&nbsp;&nbsp;
          <%= link_to "アカウント登録", new_user_path %>
        <% end %>
      </div>
    </header>
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
    <script type="text/javascript">
      $(function(){
        setTimeout("$('.alert').fadeOut('slow')", 3000)
      });
    </script>
    <div class="main_section">
      <%= yield %>
    </div>
  </body>
</html>
